@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
