html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}

.header .container {
  max-width: 1440px;
}

.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .header-bottom {
  display: block;
}

.header .header-bottom .nav-menu .menu {
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 25px;
}

.nav-link-active {
  color: #0e3494;
}

.header .header-bottom .nav-menu .menu .menu-item .menu-item-link {
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: #000;
  cursor: pointer;
}
.header .header-bottom .nav-menu .menu .menu-item .list-menu-drop::after {
  content: "";
  position: absolute;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  background-size: auto;
  background-position: center;
  top: calc(50% - 3px);
  right: 0;
}

.header .header-bottom .nav-menu .menu .menu-item:hover .menu-item-link {
  color: #0e3494;
}
.header .header-bottom .nav-menu .menu .menu-item:hover .list-menu-drop::after {
  filter: invert(16%) sepia(41%) saturate(3917%) hue-rotate(215deg)
    brightness(61%) contrast(106%);
  transform: rotate(180deg);
}

.header
  .header-bottom
  .nav-menu
  .menu
  .menu-item:hover
  .menu-item-link::before {
  width: 100%;
}

.header .header-bottom .nav-menu .menu .menu-item .menu-item-link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 0;
  background: #0e3494;
  height: 2px;
  transition: all 0.15s ease-in-out;
}

.header .header-bottom .nav-menu .menu .menu-item .nav-link-active::before {
  width: 100%;
}

.header .header-bottom .nav-menu .menu .menu-item .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  transform: translateY(10px);
  transition: all 0.2s ease;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.header .header-bottom .nav-menu .menu .menu-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.header .header-bottom .nav-menu .menu .menu-item .sub-menu .sub-menu-item {
  width: 25%;
}

.header
  .header-bottom
  .nav-menu
  .menu
  .menu-item
  .sub-menu
  .sub-menu-item
  .sub-menu-item-link {
  line-height: 140%;
  display: block;
  font-size: 16px;
  transition: all 0.2s ease;
  position: relative;
  padding: 15px 20px;
  color: #464646;
}
.header
  .header-bottom
  .nav-menu
  .menu
  .menu-item
  .sub-menu
  .sub-menu-item
  .sub-menu-item-link::before {
  position: absolute;
  content: "";
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #0e3494;
}

.header
  .header-bottom
  .nav-menu
  .menu
  .menu-item
  .sub-menu
  .sub-menu-item:hover
  .sub-menu-item-link {
  background-color: #f0f0f0;
}

/* Hamburger menu */
.header .hamburger-menu #menu__toggle {
  opacity: 0;
}

.header .hamburger-menu #menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

.header .hamburger-menu #menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

.header .hamburger-menu #menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.header .hamburger-menu #menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.header .hamburger-menu {
  position: relative;
  display: none;
}

.header .menu__btn {
  position: absolute;
  top: 50%;
  right: 0;
  width: 22px;
  height: 20px;
  cursor: pointer;
  z-index: 11;
}

.header .menu__btn > span,
.header .menu__btn > span::before,
.header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.header .menu__btn > span::before {
  content: "";
  top: -8px;
}

.header .menu__btn > span::after {
  content: "";
  top: 8px;
}

.header .hamburger-menu .menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  z-index: 10;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.header .hamburger-menu .menu__title {
  padding: 15px;
  font-size: 16px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #dddddd;
}

.search-box {
  display: flex;
}

/* Accordion */
.accordion .accordion-item-header {
  padding: 15px 0;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  color: #000;
}

.accordion .accordion-drop::after {
  content: "\f078";
  font-size: 14px;
  position: absolute;
  right: 0;
  font-family: "Font Awesome 6 Pro";
}

.accordion .accordion-drop.accordion-active::after {
  content: "\f077";
}

.accordion .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion
  .accordion-item-body
  .accordion-menu
  .accordion-menu-item
  .accordion-menu-item-link {
  padding: 10px 0;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  padding: 10px 15px;
  position: relative;
}

.accordion
  .accordion-item-body
  .accordion-menu
  .accordion-menu-item
  .accordion-menu-item-link::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #0e3494;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

.accordion
  .accordion-item-body
  .accordion-menu
  .accordion-menu-item
  .accordion-menu-item-link:hover {
  color: #d13138;
}

.accordion .accordion-active {
  color: #0e3494;
}

.btn-language-mobile {
  position: relative;
}
.btn-language-mobile .accordion-item-header {
  font-weight: 400;
}
.btn-language-mobile::before {
  position: absolute;
  content: "";
  left: -15px;
  right: -15px;
  bottom: 0;
  width: 500%;
  height: 1px;
  background: #dddddd;
}

/* Menu right desktop  */
.header-top__right {
  display: flex;
}
.header-top__right__search {
  position: relative;
  margin-right: 20px;
}

.search-desktop {
  padding: 10px 20px 10px 10px;
  border-radius: 6px;
  border: 1px solid #acabab;
  min-width: 215px;
}

.header-top__right__search img {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* menu language desktop  */
.content-language {
  position: relative;
}

div.dropdown-language {
  position: relative;
  width: 130px;
}
div.dropdown-language:after {
  content: "";
  position: absolute;
  margin: 0;
  width: 10px;
  height: 6px;
  background-image: url(https://www.bincg.com/frontend2/images/header/icon-arrow-down.svg);
  background-repeat: no-repeat;
  top: 50%;
  right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  transform: translateY(-50%);
}

div.dropdown-language:hover:after {
  transform: rotate(180deg);
  top: 45%;
}
div.dropdown-language > div.caption {
  border-radius: 12px;
  cursor: pointer;
  padding: 7px 15px 7px 45px;
  font-size: 16px;
  line-height: 140%;
  color: #464646;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}

div.dropdown-language > div.list-language {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 12px 24px rgba(21, 18, 51, 0.13);
  box-shadow: 0px 12px 24px rgba(21, 18, 51, 0.13);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75),
    opacity 0.1s linear;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  top: 40px;
  z-index: -1;
  visibility: hidden;
}

div.dropdown-language.open > div.list-language {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

div.dropdown-language > div.list-language > div.item-language {
  padding: 10.5px 15px 10.5px 45px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.3px;
  color: #464646;
  display: flex;
  align-items: center;
}

div.dropdown-language > div.list-language > div.item-language.selected {
  background: rgba(36, 60, 187, 0.2);
  pointer-events: none;
}

div.dropdown-language > div.list-language > div.item-language:hover {
  background: #f0f0f0;
}

div.dropdown-language > div.caption img,
div.dropdown-language > div.list-language > div.item-language img {
  position: absolute;
  left: 15px;
}

/* menu language mobile  */
.hamburger-menu div.dropdown-language {
  width: 110px;
}
.hamburger-menu div.dropdown-language > div.caption {
  padding: 7px 15px 7px 30px;
}
.hamburger-menu div.dropdown-language > div.caption img {
  left: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-top__right__language .dropdown-content {
  animation: slideIn 0.3s ease-out;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

/* Responsive Header */
@media screen and (max-width: 991px) {
  .header .header-top {
    padding: 10px 0;
  }

  .header .hamburger-menu {
    display: flex;
    column-gap: 1.5rem;
  }

  .header .header-bottom {
    display: none;
  }
  .header .header-top__right__search,
  .header .header-top__right__language {
    display: none;
  }
}
