body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  height: 100vh;
}
.button {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.box {
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100%;
  padding-right: 28px;
  text-align: right;
}
/*  button style 1   */
.button-1 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-1:hover,
.button-1:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}
.button-1:active {
  background: var(--color);
  color: #fff;
}

/* button style 2 */
.button-2 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}
.button-2:hover,
.button-2:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.button-2:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}
.button-2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

/* button style 3 */

.button-3 {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-3:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.button-3:active {
  transform: scale(0.95);
}

/* button style 4 */
.button-4 {
  padding: 1em 4em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-4:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-4 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-4 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.button-4:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* button style 5 */
.button-5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-5:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  .button-5 {
    padding: 0.25em 0.75em;
  }
}

/* button style 6 */
.button-6 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-6:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.button-6:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* button style 7 */
.button-7 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}
.button-7:active,
.button-7:hover {
  outline: 0;
}
.button-7 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.button-7:hover span {
  background: none;
}
@media (min-width: 768px) {
  .button-7 {
    font-size: 24px;
    min-width: 196px;
  }
}

/*  button style 8*/
.button-8 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-8:hover {
  background-color: #fff;
}
.button-8:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-8 {
    min-width: 120px;
    padding: 0 25px;
  }
}

/*  button style 9*/
.button-9-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-9-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button-9-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.button-9-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
@media (min-width: 768px) {
  .button-9-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}
.button-9-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
.button-9-pushable:hover .button-9-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button-9-pushable:active .button-9-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button-9-pushable:hover .button-9-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button-9-pushable:active .button-9-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.button-9-pushable:focus:not(:focus-visible) {
  outline: none;
}

/*  button style 10*/
.Button10 {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.Button10:focus {
  outline: 0;
}
.Button10:before,
.Button10:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.Button10:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.Button10:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.Button10:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.Button10.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.Button10.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/*  button style 11*/
.button11 {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.78em 2em;
  color: blue;
  border: 0.15em solid blue;
  border-radius: calc(0.75em + 0.5em + 0.15em);
  transition: 4s;
}
.button11:before,
.button11:after {
  content: "";
  position: absolute;
  top: -1.5em;
  z-index: -1;
  width: 200%;
  aspect-ratio: 1;
  border: none;
  border-radius: 40%;
  background-color: rgba(0, 0, 255, 0.25);
  transition: 4s;
}
.button11:before {
  left: -80%;
  transform: translate3d(0, 5em, 0) rotate(-340deg);
}
.button11:after {
  right: -80%;
  transform: translate3d(0, 5em, 0) rotate(390deg);
}
.button11:hover,
.button11:focus {
  color: white;
}
.button11:hover:before,
.button11:hover:after,
.button11:focus:before,
.button11:focus:after {
  transform: none;
  background-color: rgba(0, 0, 255, 0.75);
}

/*  button style 12*/
.buttons {
  text-align: center;
  border-radius: 30px;
}
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  color: #0505a9;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505a9;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #0505a9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/*  button style 13*/
.button13 {
  --border: 5px; /* the border width */
  --slant: 0.7em; /* control the slanted corners */
  --color: #004dff; /* the color */

  font-size: 20px;
  padding: 0.6em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
}
.button13:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
.button13:hover,
.button13:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.button13:active {
  --s: #0005;
  transition: none;
}

/*  button style 14*/
.button14:link,
.button14:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.button14:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.button14:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #000;
  color: #fff;
}
.button14::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #f0003c;
}
.button14:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
  animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*  button style 15*/
.btn15 {
  width: 140px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.btn15:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}
.btn15:hover svg {
  stroke-dashoffset: -480;
}
.btn15 span {
  color: #000;
  font-size: 18px;
  font-weight: 100;
}
.btn15:hover span {
  color: #fff;
}

/*  button style 16*/
.button16 {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #fc6e51;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
.button16:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
.button16:focus,
.button16:hover {
  background: #fb512e;
}
.button16:active:after {
  width: 300px;
  height: 300px;
}

/*  button style 17*/
.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #fff;
  display: block;
  padding: 0 40px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

/*  button style 18*/
a.button18 {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: #f0003c;
  color: #fff;
  margin: 0 auto;
}
a.button18 span {
  position: relative;
  z-index: 2;
}
a.button18:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff0081;
  transition: all 0.35s;
}
a.button18:hover {
  color: #fff;
}
a.button18:hover:after {
  width: 100%;
}

/*  button style 19*/
.btn-bubble {
  color: white;
  background-color: #554bf3;
  background-repeat: no-repeat;
}
.btn-bubble:hover,
.btn-bubble:focus {
  -webkit-animation: bubbles 1s forwards ease-out;
  animation: bubbles 1s forwards ease-out;
  background: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      96% 145% / 0.5em 0.5em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      15% 95% / 0.61em 0.61em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      43% 86% / 0.68em 0.68em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      4% 129% / 1.08em 1.08em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      83% 106% / 1.06em 1.06em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      107% 92% / 0.93em 0.93em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      69% 128% / 0.82em 0.82em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      109% 119% / 1.19em 1.19em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      55% 142% / 0.89em 0.89em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      29% 141% / 0.88em 0.88em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      ) -10% 150% / 0.65em 0.65em;
  background-color: #77b11c;
  background-repeat: no-repeat;
}
@-webkit-keyframes bubbles {
  100% {
    background-position: 101% -116%, 18% -382%, 40% 17%, 12% -111%, 88% 24%,
      102% -157%, 69% -264%, 115% 17%, 55% -325%, 31% -382%, -12% -245%;
    box-shadow: inset 0 -6.5em 0 #0072c4;
  }
}
@keyframes bubbles {
  100% {
    background-position: 101% -116%, 18% -382%, 40% 17%, 12% -111%, 88% 24%,
      102% -157%, 69% -264%, 115% 17%, 55% -325%, 31% -382%, -12% -245%;
    box-shadow: inset 0 -6.5em 0 #0072c4;
  }
}
.btn19 {
  display: inline-block;
  text-decoration: none;
  padding: 1em 2.5em;
}

/*  button style 20*/
.button20 {
  width: 160px;
  height: 50px;
  display: block;
  position: relative;
  text-align: center;
}
.botontext {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.twist {
  display: block;
  height: 100%;
  width: 12%;
  position: relative;
  float: left;
}
.twist:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fed5a9;
  bottom: 100%;
  position: absolute;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
}
.twist:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100%;
  background: #9f7f5e;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
}
.button20:hover .twist:before {
  background: #554bf3;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}
.button20:hover .twist:after {
  background: #dedae1;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}
.button20 .twist:nth-of-type(1) {
  margin-left: 0;
}
.button20 .twist:nth-of-type(1):before,
.button20 .twist:nth-of-type(1):after {
  transition-delay: 0s;
}
.button20 .twist:nth-of-type(2):before,
.button20 .twist:nth-of-type(2):after {
  transition-delay: 0.1s;
}
.button20 .twist:nth-of-type(3):before,
.button20 .twist:nth-of-type(3):after {
  transition-delay: 0.2s;
}
.button20 .twist:nth-of-type(4):before,
.button20 .twist:nth-of-type(4):after {
  transition-delay: 0.3s;
}
.button20 .botontext:nth-of-type(1) {
  color: #fff;
  bottom: 100%;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
}
.button20:hover .botontext:nth-of-type(1) {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}
.button20 .botontext:nth-of-type(2) {
  color: #fff;
  top: 100%;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}
.button20:hover .botontext:nth-of-type(2) {
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}

/*  button style 21*/
.btn21 {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}
.btn21 svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.btn21:hover {
  transition: 1s ease-in-out;
  background: #f0523c;
  border-radius: 20px;
  color: #fff;
}
.btn21:hover span {
  color: #fff;
}
.btn21:hover svg {
  stroke-dashoffset: -480;
}
.btn21 span {
  color: #000;
  font-size: 18px;
  font-weight: 100;
}

/*  button style 22*/
.btn22 {
  width: 160px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fdcb6e;
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  margin: 0 auto;
}
.btn22 a {
  position: absolute;
  text-decoration: none;
  color: #000;
  z-index: 1000;
}
.btn22::after {
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 50px;
  background: linear-gradient(to right, #ff7675, #e84393);
  opacity: 0;
  transition: 0.3s;
}
.btn22:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
}
.btn22:hover::after {
  opacity: 1;
}

/*  button style 23*/
.btn-23 {
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}
.btn-23:before {
  height: 0%;
  width: 2px;
}
.btn-23:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/*  button style 24*/

.btn-24 {
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 50px;
  padding: 0;
  border: none;
}
.btn-24 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-24:before,
.btn-24:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-24:before {
  height: 0%;
  width: 2px;
}
.btn-24:after {
  width: 0%;
  height: 2px;
}
.btn-24:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.btn-24:hover:before {
  height: 100%;
}
.btn-24:hover:after {
  width: 100%;
}
.btn-24 span:before,
.btn-24 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-24 span:before {
  width: 2px;
  height: 0%;
}
.btn-24 span:after {
  height: 2px;
  width: 0%;
}
.btn-24 span:hover:before {
  height: 100%;
}
.btn-24 span:hover:after {
  width: 100%;
}

/*  button style 25*/
.btn-25 {
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-25:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-25:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-25:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

/*  button style 26*/
.button26 {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #ffbd7f;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button26 a {
  color: #ffbd7f;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-26 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-26 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #ffbd7f;
  position: absolute;
  transition: all 0.3s ease-Out;
}

#button-26:hover #translate {
  left: 0;
}

#button-26:hover a {
  color: #2d3142;
}

/*  button style 27*/
.btn-27 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );
  color: #fff;
  overflow: hidden;
}
.btn-27:hover {
  text-decoration: none;
  color: #fff;
}
.btn-27:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-27:hover {
  opacity: 0.7;
}
.btn-27:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
